@use "base/variables" as v;
@use "base/mixins" as m;

.clases {
  background-color: v.$gris;
  padding-block: 5rem;
  &__heading {
    @include m.heading;
  }
  &__grid {
    @include m.grid(1, 2rem);
    @include m.tablet {
      @include m.grid(2, 2rem);
    }
    @include m.desktop {
      @include m.grid(3, 2rem);
    }
  }
}

.clase {
  @include m.telefono {
    max-width: 40rem;
    margin: 0 auto;
  }
  @include m.tablet {
    max-width: unset;
  }
  &__metadata {
    background-color: v.$primario;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }
  &__fecha {
    margin: 0;
    color: v.$blanco;
  }
  &__precio {
    margin: 0;
    background-color: v.$secundario;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: 700;
  }
  &__info {
    background-color: v.$blanco;
    border: 1px solid darken(v.$gris, 10%);
    border-top: unset;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
  }
  &__heading {
    margin: 0;
  }
  &__texto {
    margin: 0;
    &--color {
      color: v.$primario;
    }
  }
  &__boton {
    @include m.boton(v.$primario, v.$blanco);
  }
}
