@use "base/variables" as v;
@use "base/mixins" as m;

.populares {
  padding: 5rem 0 0;
  &__heading {
    @include m.heading(v.$secundario, v.$alpha);
    margin-bottom: 5rem;
  }
  &__grid {
    @include m.tablet {
      @include m.grid(2, 0);
    }
    @include m.desktop {
      @include m.grid(4, 3rem);
    }
  }
  &__card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    @include m.tablet {
      justify-content: center;
    }
  }
  &__imagen {
    width: 14rem;
    height: auto;
  }
  &__info {
    margin: 0;
  }
}
