@use "base/variables" as v;
@use "base/mixins" as m;

.favorito {
  background-color: v.$blanco;
  box-shadow: 0 0 2.6rem -0.8rem darken(v.$grisClaro, 20%);
  border-radius: 1rem;
  padding: 4rem;
  margin-bottom: 2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include m.desktop {
    margin-bottom: 0;
  }
  &__grid {
    @include m.desktop {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 4rem;
      align-items: center;
    }
  }
  &__imagen {
    max-width: 20rem;
    margin: 0 auto 2rem;
  }
  &__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.desktop {
      align-items: flex-start;
    }
  }
  &__nombre {
    margin: 1rem 0;
    color: v.$primario;
    font-size: 2.4rem;
  }
  &__descripcion {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 1.6rem;
    color: v.$secundario;
    line-height: 1.8;
    @include m.desktop {
      text-align: left;
    }
  }
}
