@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_principal;
  font-size: 1.6rem;
}

p {
  color: v.$negro;
  font-size: 2rem;
}
.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.seccion {
  padding: 2rem 0;
}

.fadeInFooter {
  animation: fadeInFooter 0.2s ease-in;
}

.fadeInBody {
  animation: fadeInBody 0.3s ease-out;
}

@keyframes fadeInFooter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInBody {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
