// Fuentes
$fuente_principal: "Lexend", sans-serif;

// Tamaño de Media Queries
$telefono: 580px;
$tablet: 768px;
$tabletPlus: 868px;
$desktop: 1024px;
$desktopPlus: 1200px;

// Colores
$primario: #e8505b;
$alpha: rgb(0 0 0 / 0.3);
$secundario: rgb(189, 30, 89);
$negro: #000;
$blanco: #ffffff;
$gris: #686868;
$grisClaro: #e1e1e1;

$separacion: 5rem;
